.clr-lg { color: rgb(194, 194, 194); }  /* light gray */
.clr-g  { color: rgb(54, 54, 54); }     /* gray */
.clr-bg { color: rgb(230, 226, 222); }  /* beige */


/* BACKGROUNDS */
.bg-lg { background-color: rgb(230, 226, 222); }   /* Fondo beige */
